 html {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #46424D;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-family: 'Montserrat';
  background-color: #46424D;
  /* border: 2px solid red; */
  position: relative;
  top: 0;
}

.minor-heading {
  margin-left: 2vw;
}

.activities-logged {
  margin-left: 2vw;
}
.icons {
  height: 3vh;
  width: 3vw;
}

.past-activities {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}

.past-activities-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mayor-heading {
  font-size: 2.8vh;
  margin-left: 1vw;
}

.past-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 2px solid #46424D;
}

main {
  display: flex;
  background-color: #26222D;
  width: 100vw;
  height: 100vh;
}

.new-activity {
  background-color: transparent;
  width: 60vw;
  height: 90vh;
}

.category-icon {
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}

.specific-goal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  margin: 0px;
}

.input-box {
  background-color: #46424D;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 56vw;
  height: 83vh;
  margin-bottom: 3vh;
  margin-left: 2vw;
  border-radius: 0.5vw;
}

.select-category {
  display: flex;
  align-self: flex-start;
  margin-left: 6vw;
  margin-top: 3vh;
  font-size: 2vh;
}

.activity-button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
  border-radius: 0.5vh;
  width: 10vw;
  height: 9vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.past-activities {
  width: 35vw;
  height: 98vh;
  background-color: transparent;
  border-left: 2px solid #46424D;
}

/*.body-class {
  display: flex;
  background-color: #2B2733;
  justify-content: center;
}

header {
  position: absolute;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46424D;
}

.icons {
  height: 5vh;
  width: 5vw;
}

.select-category {
  position: absolute;
  top: 2vh;
  left: 6vw;
  display: flex;
  justify-content: center;
}

.category-icon {
  position: absolute;
  top: 9vh;
  left: 5vw;
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.specific-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  position: absolute;
  top: 25vh;
  left: 5vw;
  right: 5vw;
  bottom: 25vh;
  height: 40hv;
  width: 30vw;
  font-size: 2vh;
}

.start-activity-button {
  position: absolute;
  bottom: 10vh;
  left: 40vw;
}

.new-activity {
  background-color: transparent;
  position: absolute;
  top: 7vh;
  left: 1vw;
  right: 40.3vw;
  height: 80vh;
  margin-left: 0;
}

.input-box {
  background-color: #46424D;
  position: absolute;
  top: 7vh;
  left: 1vw;
  right: 1vw;
  bottom: 2.5vh;
  border-radius: 1vh;
}

.past-activities {
  background-color: transparent;
  position: absolute;
  top: 7vh;
  right: 2vw;
  left: 60vw;
  width: 49vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.input-goals {
    background: transparent;
    border: none;
    border-bottom: 1px solid #CBC9CF;
}

.goals {
  position: absolute;
  left: 1vw;
  top: 3vh;
  font-size: 2.25vh;
}

#goal {
  position: absolute;
  left: 1vw;
  top: 6vh;
  width: 38vw;
}

.min-goals {
  position: absolute;
  left: 1vw;
  top: 18vh;
  font-size: 2.25vh;
}

#minutes {
  position: absolute;
  left: 1vw;
  top: 20vh;
}

.sec-goals {
  position: absolute;
  left: 25vw;
  top: 18vh;
  font-size: 2.25vh;

}

#seconds {
  position: absolute;
  left: 25vw;
  top: 20vh;
}

.activity-button {
  background-color: #46424D;
  border: 1px solid #CBC9CF;
  color: #CBC9CF;
  border-radius: 0.5vh;
  width: 15vw;
  height: 10vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minor-heading {
  position: absolute;
  left: 1vw;
}

.activities-logged {
  display: flex;
  position: absolute;
  top: 8vh;
  left: 5vw;
  width: 25vw;
  justify-content: center;
  align-items: center;
} */
