html {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #46424D;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-family: 'Montserrat';
  background-color: #46424D;
  position: relative;
  top: 0;
  font-size: 3vh;
}

.minor-heading {
  margin-left: 2vw;
}

.activities-logged {
  margin-left: 6vw;
}
.icons {
  height: 3vh;
  width: 3vw;
}

.past-activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35vw;
  height: 98vh;
  background-color: transparent;
  border-left: 1px solid #46424D;
}

.past-activities-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mayor-heading {
  font-size: 2.8vh;
  margin-left: 1vw;
}

.past-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 2px solid #46424D;
}

main {
  display: flex;
  background-color: #2B2733;
  width: 100vw;
  height: 100vh;
}

.new-activity {
  background-color: transparent;
  width: 60vw;
  height: 90vh;
}

.category-icon {
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specific-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 20vh;
  width: 40vw;
  margin-left: 0;
  margin-bottom: 10vh;
  font-size: 2vh;
}

.input-box {
  background-color: #46424D;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 56vw;
  height: 83vh;
  margin-bottom: 3vh;
  margin-left: 2vw;
  border-radius: 0.5vw;
  box-shadow: 1vh .5vw #26222D;
}

.select-category {
  display: flex;
  align-self: flex-start;
  margin-left: 1.2vw;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2vh;
}

.study-button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
  border-radius: 0.5vh;
  width: 10vw;
  height: 9vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  cursor: pointer;
}

.meditate-button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
  border-radius: 0.5vh;
  width: 10vw;
  height: 9vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  cursor: pointer;
}

.exercise-button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  color: #CBC9CF;
  border-radius: 0.5vh;
  width: 10vw;
  height: 9vh;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45vw;
}

.input-goals {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBC9CF;
  width: 15vw;
  color: #CBC9CF;
  font-size: 1.8vh;
  margin-top: 1.5vh;
}

.label-goals {
  font-size: 2vh;
}

.input-specific-goal {
  width: 40vw;
  background: transparent;
  margin-top: 2vh;
  border: none;
  border-bottom: 1px solid #CBC9CF;
  color: #CBC9CF;
  font-size: 1.8vh;
}

.minutes-seconds {
  display: flex;
  justify-content: space-between;
}

.minutes-seconds > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15vw;
}

.minutes {
  display: flex;
  flex-direction: column;
}


.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5vh;
  margin-right: 0;
}

.start-activity-button, .log-activity {
  height: 5vh;
  width: auto;
  border-radius: 1vh;
  color: #46424D;
  font-size: 1.8vh;
  cursor: pointer;
}

.active-study {
  color: #B3FD78;
  border: 2px solid #B3FD78;
}

.active-meditate {
  color: #C278FD;
  border: 2px solid #C278FD;
}

.active-exercise {
  color: #FD8078;
  border: 2px solid #FD8078;
}

.warning {
  height: 1.75vh;
  width: 1.75vw;
}

.error-message {
  display: flex;
  color: #EFB7EC;
  font-size: 1.75vh;
}

.display-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-class {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.time-remain {
  font-size: 9vh;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 3vh;
  color: white;
}

.start-stop {
  display:block;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  background-color: transparent;
  color: #CBC9CF;
  font-size: 3vh;
  cursor: pointer;
}

.category-study {
  border: 2px solid #B3FD78;
}

.category-meditate {
  border: 2px solid #C278FD;
}

.category-exercise {
  border: 2px solid #FD8078;
}

.hidden {
  display: none;
}

.list-activities {
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #46424D;
  margin-left: 1vw;
  margin-bottom: 1vh;
  border-radius: 1vh;
  width: 35vw;
  box-shadow: 1vh .5vw #26222D;
}

.color-slot {
  width: 0.2vw;
  height: 1.5vh;
  background-color: white;
  border-radius: 0.08vh;
  padding-top: 2px;
  margin-right: 0.5vw;
}

.color-slot-study {
  background-color: #B3FD78;
}

.color-slot-meditate {
  background-color: #C278FD;
}

.color-slot-exercise {
  background-color: #FD8078;
}

.card-activities {
  margin-left: 1vw;
}

.category-list{
  color: #fff;
  text-transform: capitalize;
  font-size: 1.75vh;
}

.time-list, .goal-list {
  color: #CBC9CF;
  font-size: 1.6vh;
}

.time-list {
  text-transform: uppercase
}

.goal-list {
  margin: 1px;
}

.activities-logged-one {
  margin-left: 7.5vw;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
}

.log-activity {
  margin-top: 5vh;
  width: 16vw;
}
